{{ page_title }} - Page: {{ current_page }} 
<div class=" col-md-3 col-sm-3 col-xs-12 col-left" id="filter-sidebar">
<div class="close-sidebar-collection"><span>filter</span><i class="icon_close"></i>
</div>
<div class="block-title"><span>Filter Selection</span></div>
<div class="widget sidebar-links">
   <div class="widget-content">
      <ul>
         <li><a href="https://fineprintco.com/collections/slim-aarons" class="">Slim Aarons</a></li>
         <li><a href="https://fineprintco.com/collections/artist-editions" class="">Artist Edition Prints</a></li>
         <li><a href="https://fineprintco.com/collections/photographic-editions" class="">Photographic Edition Prints</a></li>
         <li><a href="https://fineprintco.com/collections/limited-editions" class="">Limited Edition Prints</a></li>
         <li><a href="https://fineprintco.com/collections/trunk-archive" class="">Trunk Archive</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions" class="">Open Edition Prints</a></li>
         <li><a href="https://fineprintco.com/collections/raw" class="">Ready to Frame Raw Packs</a></li>
         <li><a href="https://fineprintco.com/collections/wallpapers" class="">Wallpapers</a></li>
      </ul>
   </div>
</div>
<div class="block-title"><span>Open Editions by Style</span></div>
<div class="widget sidebar-links">
   <div class="widget-content">
      <ul>
         <li><a href="https://fineprintco.com/collections/open-editions/abstract" class="">Abstract</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Animal" class="">Animal</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Architecture" class="">Architecture</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/beach" class="">Beachscape</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/bugs%20birds%20butterflies" class="">Bugs, Birds, and Butterflies</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/circles" class="">Circles</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/clouds" class="">Clouds</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Coastal" class="">Costal</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Contemporary" class="">Contemporary</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Figurative" class="">Figurative</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Floral" class="">Floral</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Graphics" class="">Graphics</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/bw" class="">Monochrome</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/shapes" class="">Shapes</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/playful" class="">Playful</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/world" class="">World</a></li>
      </ul>
   </div>
</div>
<div class="block-title"><span>Open Editions by Set</span></div>
<div class="widget sidebar-links">
   <div class="widget-content">
      <ul>
         <li><a href="https://fineprintco.com/collections/open-editions/Maroc" class="">Maroc</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Wategos" class="">Wategos</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Sein" class="">Sein</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Firn" class="">Firn</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Vapor" class="">Vapor</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Picasso" class="">Picasso</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Tassels" class="">Tassels</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Mineralis" class="">Mineralis</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/arc" class="">Arc</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/XXX" class="">XXX</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Reverb" class="">Reverb</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Vinyasa" class="">Vinyasa</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Naturalis" class="">Naturalis</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Tanzanite" class="">Tanzanite</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Ellura" class="">Ellura</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Fleur Nuit" class="">Fleur Nuit</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Elate" class="">Elate</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Hearth" class="">Hearth</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Abyssal" class="">Abyssal</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Etch" class="">Etch</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Djembe" class="">Djembe</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Beryl" class="">Beryl</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Modicum" class="">Modicum</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Banxy" class="">Banxy</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Chiroptera" class="">Chiroptera</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Aphotic" class="">Aphotic</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/PebblesMass" class="">Pebbles & Mass</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Lamella" class="">Lamella</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Flora" class="">Flora</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Swell" class="">Swell</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Drus" class="">Drus</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Pellicle" class="">Pellicle</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Jacquard" class="">Jacquard</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Encre" class="">Encre</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Fell" class="">Fell</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Mulberry" class="">Mulberry</a></li>
         <li><a href="https://fineprintco.com/collections/open-editions/Artery" class="">Artery</a></li>
      </ul>
   </div>
</div>
<!--
   {% if settings.display_sidebar_categories % }
   <div class="widget sidebar-links">
   
      <div class="block-title"><span>Range Selection</span></div>
     <div class="widget-content">
       <ul>
         {% assign items = settings.categories_items2 | split:"," | strip | downcase %}
         {% for category in collections %}
         {% assign cat = category.title | downcase %}
         {% if items contains cat %}
         <li><a href="{{ category.url }}" {% if collection.handle == category.handle %} class="active" {% endif %}>{{ category.title }}</a></li>     
         {% endif %}
         {% endfor%}
   
       </ul>
     </div>	
   </div>
   
   
   {% endif %}
   
   {% comment %}
   Refined tags
   {% endcomment %}
   {% if current_tags == blank %}
   {% assign has_refined = false %}
   {% else %}
   {% assign has_refined = true %}
   {% endif %}
   
   
   <div class="block-title">
     <span>Filter Selection</span>
     {% comment %}<ul>    
     {% if collection.handle != 'all' %}
     <li><a href="javascript:void(0)" class="selected-collection">{{collection.title}}<span>X</span></a></li>
     {% endif %}
     {% for t in current_tags %}
     {% assign tag = t | strip %}
     {% assign tag_value = tag | handleize %}
     <li><a href="{{tag_value}}" class="selected-tag">{{tag}}<span>X</span></a></li>
     {% endfor %}
     </ul>{% endcomment %}
   </div> -->
<!--
   <div class="sidebar-block">
     {% if settings.enable_shop_by_tags_1 %}
     <div class="sidebar-custom sidebar-tag color">
       {% assign tags = settings.shop_by_tags_1_list_tags | split: ',' %}
       <div class="title">
         <h3>
           <span>{{ settings.shop_by_tags_1_title }}</span>
   
         </h3>
       </div>
       <div class="content">
         <ul>
           {% if settings.shop_by_color_text_1 != blank %}
           {% assign tag = settings.shop_by_color_text_1|strip %} 
           {% if collection.tags contains tag %}
           <li>
             {% assign tag_value = tag | handleize %}
             <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
             <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
               {{tag}}
             </a>
           </li>
           {% endif %}
           {% endif %}
           {% if settings.shop_by_color_text_2 != blank %}
           {% assign tag = settings.shop_by_color_text_2|strip %} 
           {% if collection.tags contains tag %}
           <li>
             {% assign tag_value = tag | handleize %}
             <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
             <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
               {{tag}}
             </a>
           </li>
           {% endif %}
           {% endif %}
           {% if settings.shop_by_color_text_3 != blank %}
           {% assign tag = settings.shop_by_color_text_3|strip %} 
           {% if collection.tags contains tag %}
           <li>
             {% assign tag_value = tag | handleize %}
             <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
             <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
              {{tag}}
             </a>
           </li>
           {% endif %}
           {% endif %}
           {% if settings.shop_by_color_text_4 != blank %}
           {% assign tag = settings.shop_by_color_text_4|strip %} 
           {% if collection.tags contains tag %}
           <li>
             {% assign tag_value = tag | handleize %}
             <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
             <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
              {{tag}}
             </a>
           </li>
           {% endif %}
           {% endif %}
           {% if settings.shop_by_color_text_5 != blank %}
           {% assign tag = settings.shop_by_color_text_5|strip %} 
           {% if collection.tags contains tag %}
           <li>
             {% assign tag_value = tag | handleize %}
             <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
             <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
              {{tag}}
             </a>
           </li>
           {% endif %}
           {% endif %}
           {% if settings.shop_by_color_text_6 != blank %}
           {% assign tag = settings.shop_by_color_text_6|strip %} 
           {% if collection.tags contains tag %}
           <li>
             {% assign tag_value = tag | handleize %}
             <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
             <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
               {{tag}}
             </a>
           </li>
           {% endif %}
           {% endif %}
           {% if settings.shop_by_color_text_7 != blank %}
           {% assign tag = settings.shop_by_color_text_7|strip %} 
           {% if collection.tags contains tag %}
           <li>
             {% assign tag_value = tag | handleize %}
             <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
             <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
              {{tag}}
             </a>
           </li>
           {% endif %}
           {% endif %}   
           {% if settings.shop_by_color_text_8 != blank %}
           {% assign tag = settings.shop_by_color_text_8|strip %} 
           {% if collection.tags contains tag %}
           <li>
             {% assign tag_value = tag | handleize %}
             <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
             <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
              {{tag}}
             </a>
           </li>
           {% endif %}
           {% endif %}   
           {% if settings.shop_by_color_text_9 != blank %}
           {% assign tag = settings.shop_by_color_text_9|strip %} 
           {% if collection.tags contains tag %}
           <li>
             {% assign tag_value = tag | handleize %}
             <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
             <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
              {{tag}}
             </a>
           </li>
           {% endif %}
           {% endif %}
           {% if settings.shop_by_color_text_10 != blank %}
           {% assign tag = settings.shop_by_color_text_10|strip %} 
           {% if collection.tags contains tag %}
           <li>
             {% assign tag_value = tag | handleize %}
             <input type="checkbox" value="{{ tag_value }}" {% if current_tags contains tag %}checked{% endif %}/>
             <a href="javascript:void(0)"  {% if current_tags contains tag %} class="active" {% endif %} title="{{tag}}">
              {{tag}}
             </a>
           </li>
           {% endif %}
           {% endif %}
   
         </ul>
       </div>
     </div>
     {% endif %}
   
     {% if settings.enable_shop_by_tags_2 %}
     <div class="sidebar-custom sidebar-tag size">
       {% assign tags = settings.shop_by_tags_2_list_tags | split: ',' %}
       <div class="title">
         <h3>
           <span>{{ settings.shop_by_tags_2_title }}</span>
         </h3>
       </div>
       <div class="content">
         <ul>
           {% for t in tags %}
           {% assign tag = t | strip %}
           {% assign tag_value = tag | handleize %}
           {% if current_tags contains tag %}
           <li><input type="checkbox" value="{{ tag_value }}" checked/><label>{{tag}}</label></li>
           {% elsif collection.tags contains tag %}
           <li><input type="checkbox" value="{{ tag_value }}"/><label>{{tag}}</label></li>
           {% endif %}
           {% endfor %}
         </ul>
       </div>
     </div>
     {% endif %}
   
     {% if settings.enable_shop_by_tags_3 %}
     <div class="sidebar-custom sidebar-tag">
       {% assign tags = settings.shop_by_tags_3_list_tags | split: ',' %}
       <div class="title">
         <h3>
           <span>{{ settings.shop_by_tags_3_title }}</span>
         </h3>
       </div>
       <div class="content">
         <ul>
           {% for t in tags %}
           {% assign tag = t | strip %}
           {% assign tag_value = tag | handleize %}
           {% if current_tags contains tag %}
           <li><input type="checkbox" value="{{ tag_value }}" checked/><label>{{tag}}</label></li>
           {% elsif collection.tags contains tag %}
           <li><input type="checkbox" value="{{ tag_value }}"/><label>{{tag}}</label></li>
           {% endif %}
           {% endfor %}
         </ul>
       </div>
     </div>
     {% endif %}
     {% if settings.enable_shop_by_tags_4 %}
     <div class="sidebar-custom sidebar-tag">
       {% assign tags = settings.shop_by_tags_4_list_tags | split: ',' %}
       <div class="title">
         <h3>
           <span>{{ settings.shop_by_tags_4_title }}</span>
           <a href="javascript:void(0)" class="clear" style="display:none">Clear</a>
         </h3>
       </div>
       <div class="content">
         <ul>
           {% for t in tags %}
           {% assign tag = t | strip %}
           {% assign tag_value = tag | handleize %}
           {% if current_tags contains tag %}
           <li><input type="checkbox" value="{{ tag_value }}" checked/><label>{{tag}}</label></li>
           {% elsif collection.tags contains tag %}
           <li><input type="checkbox" value="{{ tag_value }}"/><label>{{tag}}</label></li>
           {% endif %}
           {% endfor %}
         </ul>
       </div>
     </div>
     {% endif %}
   </div>
   
   {% if settings.enable_image_collection %}
   {{ 'image_collection.jpg' | asset_url | img_tag }}
   {% endif %}-->
<style>
   /* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
   .clearfix:be
   fore, .clearfix:after { content: ""; display: table; }
   .clearfix:after { clear: both; }
   .clearfix { zoom: 1; }
   /* Subnavigation styles */
   .subnav { clear: both; list-style-type: none; margin: 35px 0; padding: 0; }
   .subnav li { display: block; float: left; }
   .subnav li a {
   display: block;
   height: 28px;
   line-height: 28px;
   padding: 0 7px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   border-radius: 7px;
   background: #eee;
   margin: 0 7px 7px 0;
   color: #666;
   }
   .subnav li a:hover, .subnav li.active a {
   background: #666;
   color: #fff;
   }
   /* Dropdown Button */
   .dropbtn {
   background-color: #3498DB;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
   }
   /* Dropdown button on hover & focus */
   .dropbtn:hover, .dropbtn:focus {
   background-color: #2980B9;
   }
   /* The container 
   <div> - needed to position the dropdown content */
      .dropdown {
      position: relative;
      display: inline-block;
      }
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
      }
      /* Links inside the dropdown */
      .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      }
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: #ddd}
      /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
      .show {display:block;}
</style>
</div>